body{
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(248,248,255); 
}
.title{
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding: 10px;
  background-color: yellowgreen;
  color: white;
}
#search-input{
  padding: 5px 15px;
  width: 70vw;
  max-width: 500px;
  border: 0;
  outline: none;
  background-color: #ecf0f1;
  color: #7e7e7e;
}
.search{
  display: flex;
  justify-content: space-evenly;
}
#search-container{
  display: flex;
  padding: 5px 15px;
  margin-top: 30px;
  background-color: #ecf0f1;
  width: 36vw;
  border-radius: 20px;
}


.search img{
  height: 25px;
  width: auto;
  margin: auto;
}
#search_icon{
  margin-left: 5px;
  display: inline-block;
  cursor: pointer;
}
#list{
  margin: auto;
  margin-top: 30px;
  max-width: 600px;
}
.list-data{
  margin: 30px auto;
  background-color: white;
  padding: 20px 5px;
  width: 80vw;
  max-width: 500px;
  border-radius:8px ;
  display: flex;
  font-size: xx-large;
}
#span-data{
  width: 70%;
  font-size: 15px;
}
#del-btn{
  background-color: tomato;
}
#span-data{
  display: flex;
  width: 70%;
  align-items: center;
}
.list-data button{
  border: 0;
  padding: 10px 5px;
  cursor: pointer;
  color: white;
  background-color:#74b9ff ;
  border-radius: 5px;
  margin: 0 10px;
  height: 50px;
  width: 70px;
}
.list-data input{
  width: 70%;
}